<%- model_class = Car -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
  <div style="float:right">
    <% if can? :new, Car %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_car_path,
                  :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<%= grid(@cars_grid) do |g|

    g.column name: model_class.human_attribute_name(:no), attribute: 'no'

    g.column name: model_class.human_attribute_name(:car_number), attribute: 'car_number'

    g.column name: model_class.human_attribute_name(:car_type), attribute: 'car_type' ,custom_filter: Car.accessible_by(current_ability).collect{|u| [u.get_car_type,u.car_type]}.uniq do |car|
      car.get_car_type
    end

    g.column name: model_class.human_attribute_name(:team_id), attribute: 'team_id' ,custom_filter: Car.accessible_by(current_ability).collect{|u| [(u.team.blank? ? "":u.team.name),u.team_id]}.uniq do |car|
      car.team.try :name
    end

    g.column name: model_class.human_attribute_name(:default_driver_id), attribute: 'default_driver_id' ,custom_filter: Car.accessible_by(current_ability).collect{|u| [(u.default_driver.blank? ? "":u.default_driver.name),u.default_driver_id]}.uniq do |car|
      car.default_driver.try :name
    end

    g.column name: model_class.human_attribute_name(:created_at), attribute: 'created_at'

    g.column do |car|
      ActiveSupport::SafeBuffer.new << 
        (link_to t('.edit', :default => t("helpers.links.edit")), edit_car_path(car), :class => 'btn btn-xs btn-primary' if can? :update, car) << ' ' <<
        (link_to t('.destroy', :default => t("helpers.links.destroy")), car_path(car), :method => :delete, :data => { :confirm => t('wice_grid.saved_query_deletion_confirmation', :default => t("helpers.links.confirm", :default => '确定删除?')) }, :class => 'btn btn-xs btn-danger' if can? :destroy, car)
    end
  end 
%>